<ul class="nav nav-pills">
<% @sitemap.changes.keys.each_with_index do |k, i| %>
  <li class="<%= 'active' if i == 0 %>"><a href="#<%= k %>"  data-toggle="pill"><%= k %></a></li>
<% end %>
</ul>

<!-- Tab panes -->
<div class="tab-content">
<% @sitemap.changes.each do |k, urls|  %>
    <%= content_tag :div, id: k, class: "tab-pane #{'in active' if k == @sitemap.changes.keys.first}" do %>
    <h3><%= k %> <span class="badge"><%= urls.length %></span></h3>
    <%= render urls %>
  <% end %>
<% end %>
</div>
