<dl class="dl-horizontal">
  <dt>HTTP Status</dt>
  <dd>
    <% case @sitemap.response.status %>
    <% when 200 %>
    <span class="label label-success">OK</span>
    <% else %>
    <span class="label label-danger"><%= @sitemap.response.status %></span>
    <% end %>
  </dd>

  <dt>Content type</dt>
  <dd>
    <% if @sitemap.response.headers['Content-Type'] == "application/xml" %>
    <%= content_tag :span, @sitemap.response.headers['Content-Type'], class: 'label label-success' %>
    <% else %>
    <%= content_tag :span, @sitemap.response.headers['Content-Type'], class: 'label label-warning' %>
    <% end %>
  </dd>
  
  <dt>Response size</dt>
  <dd>
    <%= number_to_human_size @sitemap.response.body.length %>
  </dd>

  <dt>Response time</dt>
  <dd>
    <% if @sitemap.timing < 2 %>
    <%= content_tag :span, "#{@sitemap.timing}s", class: 'label label-success' %>
    <% elsif @sitemap.timing < 10 %>
    <%= content_tag :span, "#{@sitemap.timing}s", class: 'label label-warning' %>
    <% else %>
    <%= content_tag :span, "#{@sitemap.timing}s", class: 'label label-danger' %>
    <% end %>
  </dd>
  
</dl>
