<dl class="dl-horizontal">
  <% unless @sitemap.input_content %>
  <dt>HTTP Status</dt>
  <dd>
    <% case @sitemap.response.status %>
    <% when 200 %>
    <span class="label label-success">OK</span>
    <% else %>
    <span class="label label-danger"><%= @sitemap.response.status %></span>
    <% end %>
  </dd>

  <dt>Content type</dt>
  <dd>
    <% if ["application/xml", "text/xml"].include? @sitemap.response.headers['Content-Type'] %>
    <%= content_tag :span, @sitemap.response.headers['Content-Type'], class: 'label label-success' %>
    <% else %>
    <%= content_tag :span, @sitemap.response.headers['Content-Type'], class: 'label label-warning' %>
    <% end %>
  </dd>

  <dt>Response time</dt>
  <dd>
    <% if @sitemap.timing < 2 %>
    <%= content_tag :span, "#{@sitemap.timing}s", class: 'label label-success' %>
    <% elsif @sitemap.timing < 10 %>
    <%= content_tag :span, "#{@sitemap.timing}s", class: 'label label-warning' %>
    <% else %>
    <%= content_tag :span, "#{@sitemap.timing}s", class: 'label label-danger' %>
    <% end %>
  </dd>
  <% end %>

  <dt>Response size</dt>
  <dd>
    <% if @sitemap.response.body.length < 10.megabytes %>
    <%= content_tag :span, number_to_human_size(@sitemap.response.body.length), class: 'label label-success' %>
    <% else %>
    <%= content_tag :span, number_to_human_size(@sitemap.response.body.length), class: 'label label-danger' %>
    <% end %>
  </dd>

  
  <dt>Response items</dt>
  <dd>
    <% if @sitemap.length == 0 %>
    <%= content_tag :span, number_with_delimiter(@sitemap.length), class: 'label label-warning' %>
    <% elsif @sitemap.length >= 50000 %>
    <%= content_tag :span, number_with_delimiter(@sitemap.length), class: 'label label-danger' %>
    <% else %>
    <%= content_tag :span, number_with_delimiter(@sitemap.length), class: 'label label-success' %>
    <% end %>
  </dd>
</dl>
