<% if object.respond_to?(:md) and object.md.first %>
<% md = object.md.first %>

<% if md['capability'] %>
<dt>capability</dt>
<dd><span class="label label-<%= Sitemap.valid_capabilities.include?(@sitemap.md['capability']) ? 'success' : 'warning' %>"><%= @sitemap.md['capability'] %></span></dd>
<% end %>

<% if @sitemap.changelist? and md['change'].blank? %>
  <dt>change</dt>
  <dd><span class="label label-danger">missing</span></dd>
<% end %>

  <% md.except('capability').each do |k,v| %>
    <dt><%= k %></dt>
    <dd><%= v %></dd>
  <% end %>
<% elsif @sitemap.changelist? %>
<dt>md</dt>
<dd>
  <% if @sitemap.index? %>
  <span class="label label-warning">missing</span>
  <% else %>
  <span class="label label-danger">missing</span>
  <% end %>
</dd>
<% elsif @sitemap.resourcelist? or @sitemap.resourcedump? or @sitemap.resourcedump_manifest? %>
<dt>md</dt>
<dd><span class="label label-warning">missing</span></dd>
<% end %>
<% object.ln.group_by { |x| x['rel'] }.each do |rel, lns| %>
<dt>
  <% if rel.nil? %>
  <span class="label label-danger">missing</span>
  <% else %>
  <%= rel %>
  <% end %>
</dt>
<dd>
  <% lns.each do |m| %>
    <% if m["href"].blank? %>
      <span class="label label-danger">href missing</span> 
    <% else %>
      <%= link_to m["href"], m["href"] %>
    <% end %>

    <% m.except("href", "rel").each do |k,v| %>
      <div><%= k %>: <%= v %></div>
    <% end %>
  <% end %>
</dd>
<% end if object.respond_to? :ln  %>
