<% if object.respond_to?(:md) and object.md %>
<dt>md</dt>
<dd>
  <% (object.md.first || {}).each do |k,v| %>
    <div><%= k %>: <%= v %></div>
  <% end %>
</dd>
<% end %>

<% object.ln.each do |rel, lns| %>
<dt><%= rel %></dt>
<dd>
  <% lns.each do |m| %>
    <% m.except("rel").each do |k,v| %>
      <div><%= k %>: <%= v %></div>
    <% end %>
  <% end %>
</dd>
<% end if object.respond_to? :ln  %>
