<h3>XSD Validation</h3>
<%= render partial: 'validations', locals: { validate: 'xsd'} %>

<% unless @sitemap.schema_valid?  %>
<div class="alert alert-danger">
<h4>Schema Validation Errors <small><span class="badge"><%= @sitemap.schema_errors.count %></span></small></h4>
<ul>
<% @sitemap.schema_errors.group_by { |x| x.to_s }.each do |k,v| %>
  <%= content_tag :li do %>
    <%= content_tag :span, v.length, class: 'badge' %> <%= k %>
  <% end %>
<% end %>
</ul>
</div>
<% end %>
