<h3>Schema Validation</h3>
<dl class="dl-horizontal">
  <dt>Sitemap</dt>
  <dd>
<% if @sitemap.sitemap_valid? %>
  <span class="label label-success">Valid</span>
<% else %>
  <ul>
  <% @sitemap.sitemap_validation_errors.group_by { |x| x.to_s }.each do |k,v| %>
    <%= content_tag :li do %>
      <%= content_tag :span, v.length, class: 'badge' %> <%= k %>
    <% end %>
  <% end %>
  </ul>
<% end %>
  </dd>

  <dt>Resource Sync</dt>
  <dd>
  <% if @sitemap.resync_valid? %>
    <span class="label label-success">Valid</span>
  <% else %>
    <ul>
    <% @sitemap.resync_validation_errors.group_by { |x| x.to_s }.each do |k,v| %>
      <%= content_tag :li do %>
        <%= content_tag :span, v.length, class: 'badge' %> <%= k %>
      <% end %>
    <% end %>
    </ul>
  <% end %>
  </dd>

</dl>
