  <%= link_to "View Source", @sitemap.url, class: 'pull-right btn btn-default' %>

<div class="col-md-12">
  <%= render 'http' %>
</div>
<div class="col-md-12">
<%= render 'xsd_validation' %>
</div>

<div class="col-md-12">
<%= render 'rs_md' %>
</div>

<div class="col-md-12">
  <% case %>
  <% when @sitemap.capabilitylist? %>
    <%= render 'capabilitylist' %>
  <% when @sitemap.changelist? %>
    <%= render 'changelist' %>
  <% when @sitemap.resourcelist? %>
    <%= render 'resourcelist' %>
  <% else %>
    <%= render 'urls_or_sitemaps' %>
  <% end %>
</div>
