<div class="col-md-2">
  <%= render 'http_status_check' %>
</div>
<div class="col-md-2">
<%= render 'http_size' %>
</div>
<div class="col-md-3">
<%= render 'http_timing' %>
</div>

<div class="col-md-12">
<%= render 'xsd_validation' %>
</div>

<div class="col-md-12">
<%= render 'rs_md' %>
</div>

<div class="col-md-12">
  <% case %>
  <% when @sitemap.capabilitylist? %>
    <%= render 'capabilitylist' %>
  <% when @sitemap.changelist? %>
    <%= render 'changelist' %>
  <% when @sitemap.resourcelist? %>
    <%= render 'resourcelist' %>
  <% else %>
    <%= render 'urls_or_sitemaps' %>
  <% end %>
</div>
