
<ul class="nav nav-tabs">
  <li class="active"><a href="#validation" data-toggle="tab">Validation</a></li>
  <% if @sitemap.index? || @sitemap.capabilitylist? %>
  <li><a href="#index" data-toggle="tab">Index <%= content_tag :span, @sitemap.length, class: 'badge' %></a></li>
  <% else %>
  <li>
    <% if @sitemap.changelist? %>
      <a href="#index" data-toggle="tab">Changelist <%= content_tag :span, @sitemap.length, class: 'badge' %></a>
    <% else %>
      <a href="#index" data-toggle="tab">URLs <%= content_tag :span, @sitemap.length, class: 'badge' %></a>
    <% end %>
  </li>
  <% end %>
  <li><a href="#source" data-toggle="tab">Source</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="validation">
    <div class="col-md-6">
      <%= render 'http' %>
    </div>

    <% if @sitemap.resourcesync? %>
    <div class="col-md-6">
      <h3>ResourceSync</h3>
      <%= render 'rs_validation' %>
      <%= render 'rs_md' %>
    </div>
    <% end %>

    <div class="col-md-12">
      <%= render 'xsd_validation' %>
    </div>
  </div>
  <div class="tab-pane" id="index">
      <div class="col-md-12">
        <% case %>
        <% when @sitemap.capabilitylist? %>
          <%= render 'capabilitylist' %>
        <% when @sitemap.changelist? %>
          <%= render 'changelist' %>
        <% when @sitemap.resourcelist? %>
          <%= render 'resourcelist' %>
        <% else %>
          <%= render 'urls_or_sitemaps' %>
        <% end %>
      </div>
    </div>
    <div class="tab-pane" id="source">
      <div id="editor"><%= @sitemap.doc.to_s %></div>
    </div>
</div>
